Options +FollowSymlinks
RewriteEngine on
RewriteRule ^fr/qui-sommes-nous/$ index.php?option=com_page&id=1&l=fr [L]
RewriteRule ^fr/actualites/$ index.php?option=com_blog&id=2&l=fr [L]
RewriteRule ^fr/actualites/([0-9]+)/$ index.php?option=com_blog&page=$1&l=fr [L]
RewriteRule ^fr/contactez-nous/$ index.php?option=com_contact&id=3&l=fr [L]
RewriteRule ^fr/contactez-nous/([0-9]+)/$ index.php?option=com_contact&page=$1&l=fr [L]
RewriteRule ^fr/nos-produits/$ index.php?option=com_produit&id=4&l=fr [L]
RewriteRule ^fr/nos-produits/([0-9]+)/$ index.php?option=com_produit&page=$1&l=fr [L]
RewriteRule ^fr/nos-references/$ index.php?option=com_partner&id=5&l=fr [L]
RewriteRule ^fr/nos-references/([0-9]+)/$ index.php?option=com_partner&page=$1&l=fr [L]
RewriteRule ^why-frank-vito/$ index.php?option=com_page&id=1&l=en [L]
RewriteRule ^blog/$ index.php?option=com_blog&id=2&l=en [L]
RewriteRule ^blog/([0-9]+)/$ index.php?option=com_blog&page=$1&l=en [L]
RewriteRule ^contact-us/$ index.php?option=com_contact&id=3&l=en [L]
RewriteRule ^contact-us/([0-9]+)/$ index.php?option=com_contact&page=$1&l=en [L]
RewriteRule ^commercial/$ index.php?option=com_page&id=6&l=en [L]
RewriteRule ^passive-investing/$ index.php?option=com_page&id=7&l=en [L]
RewriteRule ^categorie/([a-zA-Z0-9_-]+)/([0-9]+)/$ index.php?option=com_categorie&task=showDetails&id=$2 [NC,L]
RewriteRule ^([a-z]+)/categorie/([a-zA-Z0-9_-]+)/([0-9]+)/$ index.php?option=com_categorie&task=showDetails&l=$1&id=$3 [NC,L]
RewriteRule ^service/([a-zA-Z0-9_-]+)/([0-9]+)/$ index.php?option=com_service&task=showDetails&id=$2 [NC,L]
RewriteRule ^([a-zA-Z]+)/service/([a-zA-Z0-9_-]+)/([0-9]+)/$ index.php?option=com_service&task=showDetails&l=$1&id=$3 [NC,L]
RewriteRule ^blog/([a-zA-Z0-9_-]+)/([0-9]+)/$ index.php?option=com_blog&task=showDetails&id=$2 [NC,L]
        RewriteRule ^([a-z]+)/blog/([a-zA-Z0-9_-]+)/([0-9]+)/$ index.php?option=com_blog&task=showDetails&l=$1&id=$3 [NC,L]
        RewriteRule ^galerie/([a-zA-Z0-9_-]+)/([0-9]+)/$ index.php?option=com_galerie&task=showDetails&id=$2 [NC,L]
        RewriteRule ^([a-z]+)/galerie/([a-zA-Z0-9_-]+)/([0-9]+)/$ index.php?option=com_galerie&task=showDetails&l=$1&id=$3 [NC,L]
        RewriteRule ^partner/([a-zA-Z0-9_-]+)/([0-9]+)/$ index.php?option=com_partner&task=showDetails&id=$2 [NC,L]
        RewriteRule ^([a-z]+)/partner/([a-zA-Z0-9_-]+)/([0-9]+)/$ index.php?option=com_partner&task=showDetails&l=$1&id=$3 [NC,L]
        RewriteRule ^fr/$ index.php?l=fr [L]
